.DS_Store
.DS_Store
*.csv
*.pptx
*.xls
/LEITURAS
/EXERCICIOS
LEITURAS/STEIN_TOMMASI_2006a.pdf
LEITURAS/SOUZA_2006.pdf
LEITURAS/RUA_1998.pdf
LEITURAS/COELHO_etal_2016.pdf
LEITURAS/CAPELLA_2007.pdf
LEITURAS/\*STEIN_TOMMASI_2006b.pdf
LEITURAS/\*SARAVIA_2006.pdf
LEITURAS/\*PIERSON_2000.pdf
LEITURAS/\*JONES_etal_1998.pdf
LEITURAS/\*HERWEG_etal_2023.pdf
LEITURAS/\*HAM_HILL_Rumo_a_Teoria_da_Implementacao_1993.pdf
LEITURAS/\*HAM_HILL_Politica_e_Analise_Politica_1993.pdf
LEITURAS/\*FREY_2000.pdf
LEITURAS/\*BAUMGARTNER_etal_2023.pdf
/LEITURAS
